body {
    background-color: #ffb6c1;
    text-align: center;
    color: white;
    font-family: 'Vidaloka', serif;
    font-size: 2em;
}

.logo-img {
    padding: 15px 0px 0px 0px;
    text-align: center;

}

#card-img {
    text-align: center;
    padding: 20px;
}

#submit {
    color: white;
    text-decoration: none;
}

    