@media (min-width: 320px) {
    .background {
        background-color: #ffb6c1;
    }
    
    .content {
        text-align: center;
        color: white;
        font-family: 'Vidaloka', serif;
        font-size: 1em;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    #logo-img {
        padding: 20px;
    
    }
    
    #card-img {
        padding: 20px;
    }
    
    #submit {
        color: white;
        text-decoration: none;
    }     
}
 
@media (min-width: 768px) {
    .background {
        background-color: #ffb6c1;
    }
    
    .content {
        text-align: center;
        color: white;
        font-family: 'Vidaloka', serif;
        font-size: 2em;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    #logo-img {
        padding: 20px;
    
    }
    
    #card-img {
        padding: 20px;
    }
    
    #submit {
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 1224px) {
    .background {
        background-color: #ffb6c1;
    }
    
    .content {
        text-align: center;
        color: white;
        font-family: 'Vidaloka', serif;
        font-size: 2em;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    #logo-img {
        padding: 20px;
    
    }
    
    #card-img {
        padding: 20px;
    }
    
    #submit {
        color: white;
        text-decoration: none;
    }
}



    