.background {
    background-color: #ffb6c1;
}
.content {
    text-align: center;
    color: white;
    font-family: 'Vidaloka', serif;
    font-size: 2em;
}

#logo-img {
    padding: 20px;

}

#card-img {
    padding: 20px;
}

#submit {
    color: white;
    text-decoration: none;
}

    